<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="vals">
        <input type="button" @click="add()" value="点击添加列表">
        <ul>
            <li v-for="(val, key) in arr">
                第{{key + 1}}篇文章：{{val}}
            </li>
        </ul>
    </div>
</body>
</html>
<script>
    new Vue({
        el: '#app',
        data: {
            arr: [
                '习近平带领我们走向繁荣',
                '习近平带领我们走向繁荣',
                '习近平带领我们走向繁荣',
                '习近平带领我们走向繁荣',
                '习近平带领我们走向繁荣',
                '习近平带领我们走向繁荣',
                '习近平带领我们走向繁荣',
            ],
            vals: ''
        },
        methods: {
            add(){
                let val = this.vals;
                this.arr.push(val);
            }
        }
    })
</script>