<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue中的条件语句</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
   <div class="vue">
       <input type="text" v-model="color">
       <span v-if="color == 'red'" >当前值为：{{color}}</span>
       <span v-if="color == 'blue'" >当前值为：{{color}}</span>
       <span v-if="color == 'green'" >当前值为：{{color}}</span>
   </div> 
</body>
</html>
<script>
    new Vue({
        el: '.vue',
        data: {
            color: 'red'
        }
    });    
</script>